<div class="large-4 small-12 columns">
	<div class="hide-for-small panel">
		<h3>User accounts</h3>
		<h5 class="subheader">Manage operator and admin accounts.</h5>
	</div>

	<a href="#/user">
		<div class="panel callout radius center">
			<h5>Add new user!</h5>
		</div>
	</a>
</div>

<div class="large-8 columns">
	<div class="row">
		<div class="large-12 columns">
			<table>
				<tr>
					<th>ID</th>
					<th>Actions</th>
					<th>Name</th>
					<th>Role</th>
				</tr>
				<tr ng-repeat="user in users">
					<td>{{user.id}}</td>
					<td class="center"><a href="#/user/{{user.id}}"><i class="general foundicon-edit"></i></a></td>
					<td>{{user.name}}</td>
					<td>{{user.role}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

